body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-container {
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 4px 1px 1px #97A5A5, 0px 6px 1px 1px #3C4A4A, 0px 0px 1px 1px #3C4A4A;
}

.title {
  margin: 0;
  padding: 8px;
  font-size: 1.1rem;
}

/*  要素が真ん中によるようにフレックスボックスを設定 */
/*  display: frex; 親要素がflexコンテナとなり、子要素がflexアイテムとなる */
/*  justify-content	flex-directionで並べる際に、主軸に対して子要素同士をどのような間隔で並べるかを指定するプロパティ */
/*  align-items	flex-directionで並べる際に、交差軸に対して子要素同士をどのような間隔で並べるかを指定するプロパティ */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 「*（アスタリスク）」と記述することで、すべての要素に装飾が適用されます。 */
/*  box-sizing  要素の幅（width）と高さ（height）の中にpaddingとborderを含めるかどうか」という設定ができます */
/*  borderを含めた幅で要素の幅が計算されるようにする */
*,
*:before,
*:after {
  box-sizing: border-box;  /*  box-sizing: border-box; paddingとborderを幅と高さに含める */
}


.App {
  max-width: calc(9px * 35 + 1px * 2); /* (マスの幅) * 個数 + (ボーダーの幅) * 本数   calc()関数は、プロパティの値を計算式で実行することができます*/
  text-align: center;
}

.dots {
  height: 9px;
  width: 9px;
  background: #0f1d1d;
}

/* ドットを横並びにして折り返す */
.field {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  color: white;
  background: #0f1d1d;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ffffff30;
  box-shadow: 0px 4px 1px 1px #0C1818, 0px 6px 1px 1px #060F0D;
}

.snake {
  background: white;
}

.food {
  background: pink;
}

.navigation {
  display: flex;
  margin-top: 4px;
  justify-content: space-evenly;
  color: white;
  font-weight: bold;
  background: #020705;
  box-shadow: 0px 4px 1px 1px #020604, 0px 6px 1px 1px #010403;
  border: 1px solid #ffffff30;
}

.navigation-item {
  padding: 16px;
  display: flex;
  align-items: center;
}

.navigation-item-number-container {
  display: flex;
  padding: 0 8px;
  align-items: center;
  margin-left: 8px;
}

.num-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f1d1d;
  height: 48px;
  width: 24px;
}

/* visibility:hiddenは名前の通り、要素はあるけど見えない状態 */
/* 「!important」のキーワードが指定されたスタイルはそのルールを無視して最優先 */
.is-hidden {
  visibility: hidden !important;
}

.difficulty-number {
  margin-right: 8px;
}

.difficulty-button {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border: 8px solid #0f1d1d;
  margin: 8px;
}

.difficulty-button-container {
  background: #0f1d1d;
}

/* アニメーション */
.difficulty-up {
  margin-top: 4px;
  border-bottom: 8px solid #f0f0f050;
  transition: all ease .5s;
}

/* 要素を拡大縮小 x,y軸*/
.difficulty-up:hover {
  transform: scale(1.1);
  border-bottom: 8px solid white;
}
.difficulty-up:active {
  transform: scale(.8);
  opacity: .8
}

.difficulty-down {
  margin-bottom: 4px;
  border-top: 8px solid #f0f0f050;
  transition: all ease .5s;
}
.difficulty-down:hover {
  transform: scale(1.1);
  border-top: 8px solid white;
}
.difficulty-down:active {
  transform: scale(.8);
  opacity: .8
}


/* ボタン */
.btn {
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all ease .2s;
}

.btn-init,
.btn-suspended {
  box-shadow: 0px 4px 1px 1px #199A4B, 0px 6px 1px 1px #0B5420;
  background: #23CE6B;
}

.btn-playing {
  box-shadow: 0px 4px 1px 1px #D4A752, 0px 6px 1px 1px #956933;
  background: #FFD166;
}

.btn-gameover {
  box-shadow: 0px 4px 1px 1px #CE3959, 0px 6px 1px 1px #8B1C2C;
  background: #EF476F;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(6px);
}

.btn-init:active,
.btn-suspended:active {
  background: #20BD60;
}

.btn-playing:active {
  background: #EABC5C;
}

.btn-gameover:active {
  background: #DE4064;
}

/* 操作パネル */

/* active 「クリックした際に、クリックしている要素にスタイルを適用させる擬似クラス */

.manipulation-panel {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.manipulation-btn {
  min-width: 106px;
  margin: 4px 2px;
  background: #52B4E8;
  box-shadow: 0px 4px 1px 1px #4293C4, 0px 6px 1px 1px #21507B;
}

.btn-move:active {
  background: #4293C4;
}

.btn-left,
.btn-right
{
  min-width: 106px;
  width: 106px;
}
.btn-left {
  margin-left: 0;
}
.btn-right {
  margin-right: 0;
}

.btn-up,
.btn-down
{
  margin-left: 0px;
  margin-right: 0px;
}